*,
*::after,
*::before{
	box-sizing: border-box;
	--pink: #FF0043;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #00194A;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}

a{
	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1190px;
	margin: auto;
}

.header{

}

.header__inner{

}

.header__top{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	font-weight: 700;
}

.header__link{
	color: var(--pink);
	font-size: 20px;
	line-height: 23px;
}

.header__btn{
	padding: 15px 20px;
	background-color: var(--pink);
	border-radius: 23px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
}

.header__content{
	display: flex;
	justify-content: space-between; 
}

.header__text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 552px;
}

.header__title{
	font-weight: 500;
	font-size: 60px;
	line-height: 85px;
	margin: 0;
}

.header__subtitle{
	margin-top: 20px;
	margin-right: 53px;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}

.button{
	margin-top: 50px;	
	width: 275px;
	height: 60px;
	padding: 20px 50px;
	background-color: var(--pink);
	border-radius: 30px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
}

.header__image{

}

.header__image-img{
	width: 650px;
	height: 600px;
	margin-right: -150px;
}
