*,
*::after,
*::before{
	box-sizing: border-box;
	--pink: #FF0043;
}

html{
	background: #F2F2F2;
}

body{
	font-family: 'Roboto', sans-serif;
	color: #00194A;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}

a{
	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1190px;
	margin: auto;
}

.header{

}

.header__inner{

}

.header__top{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	font-weight: 700;
}

.header__link{
	color: var(--pink);
	font-size: 20px;
	line-height: 23px;
}

.header__btn{
	padding: 15px 20px;
	background-color: var(--pink);
	border-radius: 23px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
}

.header__content{
	margin-top: 49px;
	display: flex;
	justify-content: space-between; 
}

.header__text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 552px;
}

.header__title{
	font-weight: 500;
	font-size: 60px;
	line-height: 85px;
	margin: 0;
}

.header__subtitle{
	margin-top: 20px;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}

.button{
	margin-top: 50px;	
	width: 275px;
	height: 60px;
	padding: 20px 50px;
	background-color: var(--pink);
	border-radius: 30px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
}

.header__image{

}

.header__image-img{
	width: 655px;
	height: 604px;
	margin-right: -100px;

}

.section{
	margin-top: 130px;
	display: flex;
	justify-content: center;
}

.item{
	margin-right: 30px;
	padding: 30px;
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.item__icon{
	width: 60px;
	height: 60px;
}

.item__text{
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

.item__title{
	margin-top: 20px;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;

}

.item__subtitle{
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	margin-top: 15px;
	opacity: 0.8;
}

.item__direction{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.item__link{
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	opacity: 0.5;
}

.item__direction-icon{
	width: 21px;
	height: 20px;
}
